hr:not(.exception) {
    width: 60%;
    height: 1%;
}

.heading {
    text-align: center;
    text-transform: capitalize;
    background-color: crimson;
    text-emphasis-color: white;
    text-shadow: indigo;
    box-shadow: indigo;
}

.topic {
    text-align: left;
}

.subtopic {
    text-align: left;
}